<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="defaultFolderPath" value="C:\Users\dexti\AppData\Roaming\Microsoft\Windows\Libraries\3DPrinting.library-ms"/>
	</appSettings>
</configuration>